

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Layout */

/* Nav */ 
.nav > a,
.nav > a:hover,

li.active > a,
li.active > a:hover,
li.active > a:focus {
  color: #fff;
  background-color: #ccc;
}


@media (min-width: 940px) {
    .nav {
        position:fixed;
        width:165px;
    }
}

.nav { 
    margin-top:-16px;
    text-align:left;
}

.navbar { 
  background-image:none;
  box-shadow: none;
}

/* FOOTER */
footer p { 
    text-align:center;
}


/* Typography */

body{ 
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: 400;
}

h1 { 
    font-family: 'Bitter', serif;
    font-size:3.2em;
    margin-top:1em;
    margin-bottom:0.3em;
    padding-bottom:3px;
    border-bottom:3px solid black;
}

h2 { 
    font-family: 'Bitter', serif;
    margin-top:30px;
    font-size:1.6em;
    margin-bottom:0;
    font-weight:bold;
    padding-bottom:3px;
    border-bottom:1px solid #ccc;
}

h3 { 
    font-family: 'Bitter', serif;
    font-size:1.5em;
    line-height:1.5em;
    margin-top:2.5em;
    margin-bottom:0.5em;
    font-style:italic;
}

p, ul { 
    font-size:1.2em;
    line-height:1.7em;
    margin-top:0.5em;
    margin-bottom:1em;
}

a { 
    color:black!important;
    text-decoration:underline;
}

ul { 
    margin-top:1em;
    margin-bottom:1em;
}

li { 
    margin-bottom:2px;
}

img { 
   display:block;
   margin:20px auto;
}

.img_border { 
    padding:4px;
    border:1px solid black;
}

hr { 
    height:1px;
    background:none;
    border:none;
    border-bottom:1px dashed #ccc;
    margin-top:40px;
}












