

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.portfolio_image { 
    float: left;
    
    margin-right: 5%;
    margin-bottom: 20px;
    width:45%; 
    display: block;
    float:left;
}

.portfolio_text { 
    float:right;
    width:50%;
}

.bit_higher { 
    margin-top:-10px;
}




/* Layout */
.links { 
    text-align:center;
}


body { 
    background-color:#FDFFFA;
    color:#2B2B29;
}


/* Nav */ 
li.active > a,
li.active > a:hover,
li.active > a:focus {
    color: #fff;
    background-color: #ccc;
    
    color: #716b7a;
}

#affix-nav { 
    margin-top:-12px;
}

/*make the menu look sensible for sub items */ 
#affix-nav ul { 
    list-style-type: none;
    list-style-position: inside;
    padding-left:10px;
}

#affix-nav li { 
    padding: 0px;
}

#affix-nav li a{ 
    padding: 5px 10px;
    display: block;
}


#affix-nav li ul { 
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
}

.affix {
  width: inherit; //helped keep the content the same size on fluid layouts
  position: fixed;
  top: 20px;  //height of the nav
}



/* Stops affix doing stupid things when the screen gets narrow */
@media (max-width: 992px) { 
 .affix {
    position: static!important;
    
  }
}


/*Apparently solves jerkyness for scroll spy */
.body {
    position: relative;
}




.scale_img { 
    width:100%  ;
}



/* FOOTER */
footer p { 
    text-align:center;
    width:100%;
     border-top:1px solid black;
}


/* Typography */

body{ 
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: 400;
}

h1 { 
    font-family: 'Bitter', serif;
    font-size:3.2em;
    margin-top:1em;
    margin-bottom:0.3em;
    padding-bottom:3px;
    border-bottom:3px solid black;
}

h2 { 
    font-family: 'Bitter', serif;
    margin-top:30px;
    padding-top:30px;
    font-size:1.6em;
    margin-bottom:0;
    font-weight:bold;
    padding-bottom:3px;
    border-bottom:1px solid #ccc;
}

h3 { 
    font-family: 'Bitter', serif;
    font-size:1.5em;
    line-height:1.5em;
    margin-top:2.5em;
    margin-bottom:0.5em;
    font-style:italic;
}

blockquote { 
    font-size:1.3em;
}

p, ul { 
    font-size:1.1em;
    line-height:1.7em;
    margin-top:0.5em;
    margin-bottom:1em;
}

a { 
    color:black!important;
    text-decoration:underline;
}

ul { 
    margin-top:1em;
    margin-bottom:1em;
}

li { 
    margin-bottom:2px;
}


li li{ 
   font-size:0.8em;
}

img { 
   display:block;
   margin:20px auto;
}

.img_border { 
    padding:4px;
    border:1px solid black;
}



.vid { 
    width:100%;
    height:400px;
}

.width_control { 
    width:100%;
}   

hr { 
    height:1px;
    background:none;
    border:none;
    border-bottom:1px dashed #ccc;
    margin-top:40px;
}









