#container {
    position:relative; 
    margin:10px auto;
    width: 800px;
   
}

#blurb {
    border-top:3px solid black;
   width:560px; 
    float:left; 
}

#projects {
    width:560px; 
    float:left; 
}

#contacts {
     border-top:3px solid black;
    width: 160px 
    float:right; 
}