
body, html {
	background-color:#D9E6DB;
	
}

#container {
    position:relative; 
    margin:10px auto;
    width: 800px;
   
}

#blurb {
    border-top:6px solid #3B5837;
    width:560px; 
    float:left; 
}

#projects {
    border-top:1px solid #3B5837;
    width:540px; 
    float:left; 
}

#previous_works {
    border-top:1px solid #3B5837; 
    width:540px; 
    float:left;   
}

#contacts {
    border-top:6px solid #3B5837;
    width: 200px;
    float: right; 
}

.project, .previous_work {
    background-color:#ddd;
	padding:10px;
}    